<!-- Main navigation -->
<div class="sidebar-category sidebar-category-visible">
    <div class="sidebar-user-material">
        <div class="category-content">
            <div class="sidebar-user-material-content">
                <a href="#"><img src="/assets/images/placeholder.jpg" class="img-circle img-responsive" alt=""></a>
                <h6>Victoria Baker</h6>
                <span class="text-size-small">Santa Ana, CA</span>
            </div>

            <div class="sidebar-user-material-menu">
                <a href="#user-nav" data-toggle="collapse"><span>My account</span> <i class="caret"></i></a>
            </div>
        </div>

        <div class="navigation-wrapper collapse" id="user-nav">
            <ul class="navigation">
                <li><a href="#"><i class="icon-user-plus"></i> <span>My profile</span></a></li>
                <li><a href="#"><i class="icon-coins"></i> <span>My balance</span></a></li>
                <li><a href="#"><i class="icon-comment-discussion"></i> <span><span class="badge bg-teal-400 pull-right">58</span> Messages</span></a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-cog5"></i> <span>Account settings</span></a></li>
                <li><a href="#"><i class="icon-switch2"></i> <span>Logout</span></a></li>
            </ul>
        </div>
    </div>

    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

            <!-- Main -->
            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
            <li><a href="/dashboard"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
            <li><a href="/imageprocess"><i class="icon-image2"></i> <span>Image Process</span> </a></li>
            <!-- /main -->

        </ul>
    </div>
</div>
<!-- /Main navigation -->